@charset "UTF-8";

/* Body */
body {
	font-family: arial; /*source-sans-pro*/
	background-color: #f2f2f2;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}

/* Container */
.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 1000px;
	background-color: #FFFFFF;
}

header {
	width: 100%;
	height: 20%;
	min-height: 15%;
	background-image: url('blue_curtain1.png');
	background-color: #000080;
	border-bottom: 12px solid #FFD700;
}

/* Navigation */

nav {
	position: relative;
	width: 100%;
	text-align: center;
}

nav ul li {
	color: #FFFFFF;
	font-size: 14px;
	font-family: helvetica;
	display: inline-block;
	letter-spacing: .1em;
	margin-right: 3em;
	}

nav ul li a {
	color: #FFFFFF;
	text-decoration: none;
	display: inline-block;

}
nav ul li:hover a {
	color: #2C9AB7;
	padding-bottom: 3px;
	border-spacing: 2px;
	border-bottom: 1px solid #2C9AB7;
}


 header h1 {
	color: #FFFFFF;
	font-family: Helvetica Neue;
	font-size: 75px;
	letter-spacing: 3px;
	padding-top: 0px;
	padding-bottom: .075em;
	line-height: 0%;
	text-align: Center;
}

header h3 {
	color: #FFFFFF;
	font-family: Baskerville;
	font-weight: normal;
	font-size: 25px;
	padding-top: 2%;
	padding-bottom: none;
	text-align: center;
}

hr {
	display: block;
    width: 25%;
}

.logo {
	float: left;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 5em;
	margin-right: 0%;
}

.footerlogo {
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: 5em;
	margin-right: 5em;
}

/* Hero Section */

.hero {
	width: 100%;
	height: 40%;
	min-height: 15%;
	background-image: url("lodgecollage_001.png");
	background-repeat: no-repeat;
	background-position: center;
}

.light {
	font-weight: bold;
	color: #717070;
}
/*.tagline {
	text-align: center;
	color: #FFFFFF;
	margin-top: 4px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
}*/
/* About Section */

.center_column {
	font-family: Times New Roman;
	font-style:  italic;
	font-size: 2em;
	width: 75%;
	margin: auto;
	text-align: center;
	font-weight: lighter;
	line-height: 1.5em;
	color: #A3A3A3;
	padding-top: .5em;
	padding-bottom: .5em;
}
.about {
	padding-top: 2%;
	display: inline-block;
	background-color: #FFFFFF;
	margin-top: 0px;
}
/* Stats Gallery */
.stats {
text-align: center;
position: absolute;
top: 75%;
left: 50%;
transform: translate(-50%, -50%);
}


.gallery h1 {
	color: #FFFFFF;

}


.gallery a { 
 text-decoration: none; 
 color: #FFFFFF; 
}

.gallery h1 a:hover {  
 color: #FFFFFF; 
 border-spacing: 2px;
 border-bottom: 2px solid #FFFFFF;
}

.gallery a:visited { 
 text-decoration: none; 
 color: #FFFFFF; 
}

.gallery {
	display: inline-block;
	width: 100%;
	background-color: #FFFFFF;
	/*[disabled]min-width: 400px; */
	padding-bottom: 35px; 
	position: relative;

}
.thumbnail {
	width: 25%;
	text-align: center;
	float: left;
	margin-top: 35px;
	position: relative;
}
.gallery .thumbnail h4 {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	color: #52BAD5;
}
.gallery .thumbnail p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #A3A3A3;
}
/* Parallax Section */
.banner {
	background-color: #2D9AB7;
	padding-top: .175em;
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
.parallax {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	padding-top: 110px;
	letter-spacing: 2px;
	margin-top: 0px;
}
.parallax_description {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	width: 30%;
	float: right;
	font-weight: lighter;
	line-height: 23px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
/* More info */
footer {
	background-color: none;
	padding-bottom: 35px;
	display: block;
	text-align: left;
}
.footer_column {
	width: 25%;
	text-align: left;
	padding-top: 30px;
	float: left;
	}

#footer_column1 {
	width: 25%;

	text-align: center;
	padding-top: 30px;
	float: left;
}

footer .footer_column h3 {
	color: #FFFFFF;
	text-align: left;
}
footer .footer_column p {
	color: #FFFFFF;
	background-color: none;
	text-align: left;
}

footer .footer_column #ftrglink ul li {
	color: #FFFFFF;
	background-color: none;
	text-align: left;
}

.cards {
	width: 150px;
	height: 150px;
	background-color: skyblue;

	/* max-width: 400px;
	max-height: 200px;*/

}

.ftrglink{
	list-style: none;
	display: block;
	text-align: left;
	margin-left: 0px;
}


.ftrglink ul li {
	color: #FFFFFF;
	font-size: 14px;
	font-family: helvetica;
	display: block;
	text-align: left;
	letter-spacing: .1em;
	padding-bottom: .5em;
	margin-right: 3em;
	margin-left: none;
	}

.ftrglink ul li a {
	color: #FFFFFF;
	text-decoration: none;
	display: block;

}

.ftrglink ul li:hover a {
	color: #2C9AB7;

}


footer .footer_column p {
	
	padding-right: 30px;
	text-align: left;
	line-height: 25px;
	font-weight: lighter;
	
	margin-right: 20px;
}

.button {
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.3s linear;
}

.button:hover {
	background-color: #FEFEFE;
	color: #C4C4C4;
	cursor: pointer;
}

.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #717070;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}

.footer_banner {
	background-color: #B3B3B3;
	padding-top: 60px;
	padding-bottom: 60PX;
	margin-bottom: 0px;
	background-image: url(../images/pattern.png);
	background-repeat: repeat;
}

footer {
	display: inline-block;
}

.hidden {
	display: none;
}


/* Mobile --------- Mobile ----------- Mobile--------- Mobile ----------- Mobile--------- Mobile ----------- Mobile--------- Mobile ----------- Mobile*/

@media (max-width: 320px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	display: none;
}
header nav ul {
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
}

 header h1 {
	color: #FFFFFF;
	font-family: Helvetica Neue;
	font-size: .15em;
	letter-spacing: 3px;
	padding-top: 0px;
	padding-bottom: .075em;
	line-height: 0%;
	text-align: center;
}

header h3 {
	color: #FFFFFF;
	font-family: Baskerville;
	font-weight: normal;
	font-size: 25px;
	padding-top: 2%;
	padding-bottom: none;
	text-align: center;
}

.text_column {
	width: 100%;
	text-align: justify;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 90%;
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 12px;
	float: none;
	text-align: center;
}
.banner {
	background-color: #2D9AB7;
	background-image: none;
	padding-top: .075em;
}
.tagline {
	margin-top: 20px;
	line-height: 22px;

}

/* Small Tablets ------------Small Tablets ------------Small Tablets ------------Small Tablets ------------Small Tablets ------------Small Tablets ------------ */

@media (min-width: 321px)and (max-width: 767px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #043745;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	overflow: auto;
	display: inline-block;
	background: #52bad5;
}
header nav ul {
	padding: 0px;
	float: none;
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}

 header h1 {
	color: #FFFFFF;
	font-family: Helvetica Neue;
	font-size: 75px;
	letter-spacing: 3px;
	padding-top: 0px;
	padding-bottom: .075em;
	line-height: 0%;
	text-align: center;
}

header h3 {
	color: #FFFFFF;
	font-family: Baskerville;
	font-weight: normal;
	font-size: 25px;
	padding-top: 2%;
	padding-bottom: none;
	text-align: center;
}

.text_column {
	width: 100%;
	text-align: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 30%;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: none;
	width: 100%;
	text-align: center;
}
.thumbnail {
	width: 50%;
}
.parallax {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-top: 20%;
}
.parallax_description {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	padding-top: 30px;
}
.banner {
	padding-left: 20px;
	padding-right: 20px;
}
.footer_column {
	width: 100%;
}
}

/* Small Desktops-----------Small Desktops-----------Small Desktops-----------Small Desktops-----------Small Desktops-----------Small Desktops----------- */

@media (min-width: 768px) and (max-width: 1220px) {
.text_column {
	width: 100%;
}
.thumbnail {
	width: 50%;
}

 header h1 {
	color: #FFFFFF;
	font-family: Helvetica Neue;
	font-size: 75px;
	letter-spacing: 3px;
	padding-top: 0px;
	padding-bottom: .075em;
	text-align: center;
}

header h3 {
	color: #FFFFFF;
	font-family: Baskerville;
	font-weight: normal;
	font-size: 25px;
	padding-top: 2%;
	padding-bottom: none;
	text-align: center;
}
.text_column {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.banner {
	margin-top: 0px;
	padding-top: 0px;
}
}
